* {
    box-sizing: border-box;
}

header {
    background-color: mediumpurple;
    font-weight: bolder;
    color: black;
    font-size: 50px;
}

header a {
    text-decoration: underline;
    color: black;
}

header nav {
    float: right;
   margin: 10px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 25px;
    font-weight: lighter;
    font-size: 25[x];
}

header h1 {
font-weight: bold;
font-size: 75px;
color: black;
margin: 0;
display: inline;
}

* {
    margin: 0;
    padding: 0;
}

section {
    padding-top: 300px ;
    background-image: url("../Endless-Possibilities/assets/finger-pointing-at-javascript-code.jpg");
}
.h2 {
    
    height: 400px;
    background-size: cover;
    background-position: center;
}

.h2-text {
    font-size: 75px;
    color: white;
    float: right;
}
#About-Me {
    background-image: none;
    background-color: mediumpurple;
    display: flex;
    justify-content: space-between;
}

h2 {
font-weight: bold;
margin: 0;
font-size: 50px;
}
p {
    font-size: 35px;
    margin: 5px 0;
}

div {
    background-color: none;
}
img-container {
    display: grid;
    display: flex;
    height: 750px;
padding: 50px;

}

footer {
    background-color: mediumpurple;
    font-weight: bolder;
    color: black;
    font-size: 50px;
}

footer a {
    text-decoration: underline;
    color: black;
}

footer nav {
    float: right;
   margin: 10px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    margin: 0 25px;
    font-weight: lighter;
    font-size: 25[x];
}

footer h2 {
font-weight: bold;
font-size: 75px;
color: black;
margin: 0;
display: inline;
}

* {
    margin: 0;
    padding: 0;
}